.conteudo-search-pessoa
{
	margin-top: 30px;
	/*background-color: #ccc;*/
	padding-top: 10px;
}

.conteudo-search-pessoa .label-search-pessoa
{
	/*background-color: red;*/
	text-align: right;
	width: 35%;
	padding-right: 20px;
	float: left;
	clear: both;
}

.conteudo-search-pessoa .label-search-pessoa h6
{
	font-family: futura;
	/*font-weight: bolder;*/
}

.conteudo-search-pessoa .info-search-pessoa
{
	padding-left: 20px;
	width: 65%;
	border-left: 1px solid #333;
	/*background-color: blue;*/
	float: right;
}

.conteudo-search-pessoa .info-search-pessoa h6
{
	font-family: futura;
	font-weight: bolder;
}
