/*.formulario-cadastro
{
}
*/

.formulario-cadastro label
{
	/*color: red;*/
	/*font-size: 1rem;*/
	/*background-color: blue;*/
	margin-top: 7px;
}

.formulario-cadastro span.error,
.formulario-cadastro small.error
{
	display: block;
	/*padding: 0.375rem 0.5625rem 0.5625rem;*/
	/*margin-top: 2px;*/
	margin-bottom: 1rem;

	font-size: 0.75rem;
	font-weight: bold;
	/*font-style: italic;*/
	background: #f04124;

	color: white;
	/*color: blue;*/

	margin-top: 20px;
	min-height: 30px;

	border-radius: 3px;
}
